# Ignore folders
*

# Non ignore folders
!wp-content
!wp-content/themes
!wp-content/themes/**

# Ignore files
package-lock.json
yarn.lock

# Non ignore files
!.editorconfig
!composer.json
!docker-composer.yml
!eslintrc.js
!package.json
!stylelintrc.json
!wp-config.php
!.gitignore
!.eslintignore



# Force ignore

wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/index.php
